langchain
langchain-community
langchain-groq
langgraph
beautifulsoup4
requests
duckduckgo-search
langchain-core
langgraph-checkpoint
playwright
flask
apscheduler
pytz
langchain-openai
wikipedia
groq
supabase
openai
pypdf
pdfplumber
fpdf2
flask-sock
websocket-client
